<ion-view title="忘记密码" class="stable-bg">
	<ion-nav-buttons side="left">
		<button style="color: #ffffff;" class="button button-clear button-icon ion-ios-arrow-left"
		        ng-click="goBackClick()"></button>
	</ion-nav-buttons>

	<ion-content>
		<div style="font-size: 12pt;color: #888;margin-top: 20px;margin-left:15px;">请提供您的用户名</div>

		<div style="padding:0 15px;position:relative;">
			<input type="text" ng-model="vm.userCode" placeholder="请输入用户名" 
			style="margin-top: 10px;width: 100%;padding: 3px;border:1px solid #efefef;" />
			<select style="border:0;border-left:1px solid #cccccc;top:8px;position: absolute;right: 16px;padding: 0 3px;"
				ng-model="vm.emailTypeId"
				ng-options="type.EmailTypeId as type.EmailTypeName for type in emailTypes">
			</select>
		</div>
		<div style="padding:0 15px;">
			<button style="color: #0099ff;margin-top: 20px;width: 100%;min-height: 35px !important;line-height: 35px;"
			        class="button" ng-click="gotoResetPasswordView()">下一步
			</button>
		</div>
	</ion-content>
</ion-view>